

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$page-header-height: 4rem;
$form-group-header-height: 25px;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-container h1, .header-container .button-container {
    display: inline-block;
}

.container-fluid.app-container > .row.editor-row {
    height: calc(100% - #{$page-header-height});
}

.form-group label.form-label {
    box-sizing: border-box;
    height: $form-group-header-height;
}

// Import Bootstrap and its default variables
.form-group textarea.form-control {
    box-sizing: border-box;
    height: calc(100% - #{$form-group-header-height} - 1.5rem);
    width: 100%;
    border-bottom: 1rem;

    resize: none;
}